html {
    font-family: "Inter", sans-serif;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Carter One", system-ui;
}

main {
    display: flex;
    flex-direction: column;
}

main > *:not(.hero-banner) {
    z-index: 2;
}

body {
    margin: unset;
    background-color: black;
}

/* Algemene layout */
.row {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Afbeeldingen hero */
.hero-banner {
    min-height: 100lvh;
}

.hero-banner:after {
    content: '';
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .75) 100%);
    z-index: 1;
}

.hero-banner-container {
    position: fixed;
    display: grid;
    grid-template-areas:
    'jarellsa jesper joost justin lyanne lou sam rick'
    'lois hva miriale rosa younes wesley david bounyad'
    'yigal rowynn sophie text text sun britt beyza'
    'noey rayhana ahmet chahed queeny thijs rabia hajar'
    'melissa aya savannah lyndsey celeste sami aliya mika';
    grid-gap: .5rem;
    height: 100%;
    background-color: black;
    transform: rotate(3deg);

    @media (width < 48rem) {
        grid-template-areas:
        'jarellsa jesper joost justin lyanne lou sam rick'
        'lois hva miriale rosa younes wesley david bounyad'
        'yigal rowynn sophie sophie sun sun britt beyza'
        'noey rayhana ahmet chahed queeny thijs rabia hajar'
        'melissa aya savannah lyndsey celeste sami aliya mika';
        grid-gap: .15rem;
    }
}

.hero-banner-container img {
    height: calc(100lvh / 5);
    width: 100%;
    object-fit: cover;
    &[src*="Jarellsa"] {grid-area: jarellsa;}
    &[src*="Jesper"] {grid-area: jesper;}
    &[src*="Joost"] {grid-area: joost;}
    &[src*="Justin"] {grid-area: justin;}
    &[src*="Lyanne"] {grid-area: lyanne;}
    &[src*="Lou"] {grid-area: lou;}
    &[src*="Sam"] {grid-area: sam;}
    &[src*="Rick"] {grid-area: rick;}
    &[src*="Loïs"] {grid-area: lois;}
    &[src*="Hva"] {grid-area: hva;}
    &[src*="Miriale"] {grid-area: miriale;}
    &[src*="Rosa"] {grid-area: rosa;}
    &[src*="Younes"] {grid-area: younes;}
    &[src*="Wesley"] {grid-area: wesley;}
    &[src*="David"] {grid-area: david;}
    &[src*="Bounyad"] {grid-area: bounyad;}
    &[src*="Yigal"] {grid-area: yigal;}
    &[src*="Rowynn"] {grid-area: rowynn;}
    &[src*="Sophie"] {grid-area: sophie;}
    &[src*="Ahmet"] {grid-area: ahmet;}
    &[src*="Britt"] {grid-area: britt;}
    &[src*="Beyza"] {grid-area: beyza;}
    &[src*="Noey"] {grid-area: noey;}
    &[src*="Rayhana"] {grid-area: rayhana;}
    &[src*="Sun"] {grid-area: sun;}
    &[src*="Chahed"] {grid-area: chahed;}
    &[src*="Queeny"] {grid-area: queeny;}
    &[src*="Thijs"] {grid-area: thijs;}
    &[src*="Rabia"] {grid-area: rabia;}
    &[src*="Hajar"] {grid-area: hajar;}
    &[src*="Melissa"] {grid-area: melissa;}
    &[src*="Aya"] {grid-area: aya;}
    &[src*="Savannah"] {grid-area: savannah;}
    &[src*="Lyndsey"] {grid-area: lyndsey;}
    &[src*="Celeste"] {grid-area: celeste;}
    &[src*="Sami"] {grid-area: sami;}
    &[src*="Aliya"] {grid-area: aliya;}
    &[src*="Mika"] {grid-area: mika;}
}

.hero-banner-container hgroup {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: rotate(-3deg);

    & * {
        color: white;
    }

    @media (width < 48rem) {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        background-color: #00000090;
        width: 100%;
        padding: 5vh 20px;
        border-radius: 0 0 10px 10px;
    }
}

.hero-banner-container hgroup h1 {
    margin: 10px 0 0 0;
    font-size: clamp(2rem, 15.1751vw - 6.2746rem, 3.4375rem);
}

.hero-banner-container hgroup p {
    margin: 0 0 10px 0;
}

.qr-code-container {
    position: absolute;
    top: 50%;
    right: -10vw;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    transition: .2s ease;
    z-index: 9;

    &:hover {
        right: 0;
    }

    @media (width < 48rem) {
        display: none;
    }
}

.qr-code-container p {
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 12px 20px;
    border-radius: 99px 0 0 99px;
}

.qr-code {
    width: 10vw;
    aspect-ratio: 1/1;
    display: block;
}

/* SVG shape divider */
.visitekaartje-divider {
    z-index: 1;
    position: relative;
}

/* Visitekaartjes */
.cards-section {
    background-color: #FFFFD7;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    overflow: clip;

    @media (width > 80rem) {
        height: 100vh;
    }
}

.cards-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (width > 80rem) {
        transform: rotate(-90deg);
        overflow: scroll;
        height: 100vw;
        width: 100vh;
    }
}

.cards-section-container {
    margin: 0 auto;
    display: grid;
    grid-row-gap: 3rem;
    padding: 50px 25px;
    overflow: scroll;

    @media (width > 80rem) {
        transform: rotate(90deg);
        padding: 50px 20px;
        grid-row-gap: 2.75rem;
        overflow: unset;
    }
}

.cards-section h2 {
    margin: unset;
    font-size: clamp(2rem, 15.1751vw - 6.2746rem, 3.4375rem);
}

/* Direct parent container of cards */
.cards-section article {
    display: flex;
    gap: 4rem 3rem;

    @media (width > 48rem) {
        gap: 5rem 8rem;
    }

    @media (width > 80rem) {
        flex-wrap: nowrap;
        gap: 5rem;
        padding-right: 20vw;
    }
}

.cards-section figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin: unset;
    transition: .4s;
    position: relative;
    width: 50vw;
    box-shadow: 0px 10px 30px #00000010;

    @media (width > 80rem) {
        aspect-ratio: 3/4;
        width: max(12rem, 12.5vw);
        border: 1.25rem solid white;
        border-bottom-width: 1rem;
    }

}

.cards-section figure div {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.cards-section figure img {
    width: 100%;
    height: auto;
    aspect-ratio: 5/4;
    object-fit: cover;
    border-radius: 10px;
    transition: .4s;
}

.cards-section figure:hover img {
    translate: -100%;
}

.cards-section figure h3 {
    font-size: clamp(1.5rem, 5.4475vw - 1.6114rem, 1.875rem);
    margin: 1rem 0 .5rem;

    @media (width > 48rem) {
        margin: 4px 0;
    }
}

.cards-section figure a {
    font-weight: bold;
    font-size: .85rem;
    background-color: #D9D9D9;
    border: unset;
    padding: 12px 20px;
    border-radius: 99px;
    color: black;
    text-decoration: unset;
    transition: .3s;
    display: grid;

    &:hover {
        background-color: black;
        color: white;
    }

    @media (width < 48rem) {
        visibility: hidden;

        &::after {
            content: 'Meer lezen';
            font-size: .8rem;
            visibility: visible;
            background-color: #D9D9D9;
            display: block;
            padding: 12px 20px;
            max-width: fit-content;
            border-radius: 99px;
            margin: 0 auto;
            grid-area: 1/1;
        }
    }
}

/* Cards styling and tilting */
.cards-section .cards-first-row figure:nth-child(3n - 2),
.cards-section .cards-second-row figure:nth-child(3n) {
    rotate: -3deg;
    &:hover {
        rotate: -1deg;
    }

    &::before {
        content: '';
        width: 8rem;
        height: 2rem;
        display: block;
        position: absolute;
        top: -1.25rem;
        left: -1.25rem;
        background-color: #B4FDFF;
        box-shadow: 0px 10px 30px 0px #00000025;
        rotate: -45deg;
        z-index: 2;
        translate: -25% 50%;
    }

    @media (width > 48rem) {
        &::before {
            width: 80%;
            height: 1.75rem;
            translate: -25% 120%;
        }
    }
}

.cards-section .cards-first-row figure:nth-child(3n - 1),
.cards-section .cards-second-row figure:nth-child(3n - 1) {
    rotate: 5deg;
    &:hover {
        rotate: 2deg;
    }

    &::before {
        content: '';
        width: 9rem;
        height: 2rem;
        display: block;
        position: absolute;
        top: -1.25rem;
        right: -1.25rem;
        background-color: #D7FFB4;
        box-shadow: 0px 10px 30px 0px #00000025;
        rotate: 50deg;
        z-index: 2;
        translate: 30% 50%;
    }

    @media (width > 48rem) {
        &::before {
            width: 70%;
            height: 1.75rem;
            translate: 25% 100%;
        }
    }
}

.cards-section .cards-first-row figure:nth-child(3n),
.cards-section .cards-second-row figure:nth-child(3n - 2) {
    rotate: 2deg;
    &:hover {
        rotate: 0deg;
    }

    &::before {
        content: '';
        width: 6rem;
        height: 2rem;
        display: block;
        position: absolute;
        top: -1.25rem;
        left: 35%;
        background-color: #FFB4E6;
        box-shadow: 0px 10px 30px 0px #00000025;
        rotate: -50deg;
        z-index: 2;
        translate: -50% -10%;
    }

    @media (width > 48rem) {
        &::before {
            width: 50%;
            height: 1.75rem;
            translate: -50% -20%;
        }
    }
}

@media (width < 48rem) {
    .cards-section.cards-section article[class^="cards"] figure:before {
        content: unset;
    }
}

/* Sophie CSS import */
.amstelcampus {
    padding: 3rem;
    border-radius: 8px;
    padding-bottom: 8rem;
    background-color: black;
}

.amstelcampus h2 {
    color: white;   
    max-width: 1350px;
    margin: 0 auto;
    font-family: "Carter One", sans-serif;
    font-size: 60px;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.gebouwen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    max-width: 1350px;
    margin: 0 auto;
}

.gebouwen-kolom1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.gebouwen-kolom2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 50px;
}

.gebouwen-kolom3 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.gebouwen img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.gebouwen article {
    background-color: white;
    position: relative;
    border-radius: 10px;
    transition: .2s ease;
}

.gebouwen article:hover {
    rotate: -2deg;
}

.breed {
    aspect-ratio: 4 / 3;
}

.hoog {
    aspect-ratio: 3 / 4;
}

.gebouwen h3 {
    padding: 0 1rem;
    font-size: clamp(1.5rem, 5.4475vw - 1.6114rem, 1.875rem);
    margin: 1rem 0;
}

.gebouwen p {
    padding-left: 1rem;
    padding-bottom: 20px;
}

.gebouwen a {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 2.75rem;
    aspect-ratio: 1/1;
    background-color: #D9D9D9;
    color: black;
    text-decoration: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    transition: .2s ease;
}

.gebouwen a:hover {
    background-color: black;
    color: #D9D9D9;
}

.footer {
    background-color: black;
    color: white;
    padding: 2rem 20px;
}

.footer-content {
    max-width: calc(1350px + 6rem);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid white;
    padding-top: 1rem;

    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
}

@media (max-width: 48rem) {
    .amstelcampus {
        padding: 3rem 20px;
        padding-bottom: 2rem;
    }

    .amstelcampus h2 {
        max-width: none;
        font-size: 34px;
        line-height: 1.1;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }

    .gebouwen {
        grid-template-columns: 1fr;
        max-width: none;
        gap: 2rem;
    }

    .gebouwen-kolom1,
    .gebouwen-kolom2,
    .gebouwen-kolom3 {
        gap: 2rem;
    }

    .gebouwen-kolom2 {
        padding-top: 0;
    }

    .gebouwen article {
        width: 100%;
    }

    .gebouwen p {
        font-size: 1rem;
        padding-bottom: 15px;
        padding-right: 45px;
    }

    .gebouwen a {
        width: 30px;
        height: 40px;
        right: 8px;
        bottom: 10px;
        font-size: 20px;
    }

    .gebouwen img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    .footer {
        background-color: black;
        color: white;
        padding: 1rem 20px;
    }

    .footer-content {
        margin: 0 auto;

        display: flex;
        justify-content: space-between;

        border-top: 1px solid white;
        padding-top: 1rem;
        font-size: .8rem;
    }
        
}